<%#
 June 2020    New page to display locations & 15 photos specified in main_controller.rb
 July 2020    Modified to make all images width to add up to 780px per row
%>

<div class="cbox">
  <div class="cbox-title">
    <%= @title %>
  </div>
<div class="cbox-photo">
  <table width="780px" align="center">
      <tr>
        <div class="cbox-photo-titles">
          <%= @location_1 %>
        </div>
      </tr>
      <tr>
        <td valign=top width="260px">
          <div class="cbox-photobox">
           <%#<img src="IMG_5496_250_250.JPG" > needs to be in public folder %>
           <%= image_tag(@image_1, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="260px">
          <div class="cbox-photobox">
            <%= image_tag(@image_2, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="260px">
          <div class="cbox-photobox">
            <%= image_tag(@image_3, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
  
  <table>    
      <tr>
        <td valign=top width="390px">
          <div class="cbox-photobox">
            <%= image_tag(@image_4, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="390px">
          <div class="cbox-photobox">
            <%= image_tag(@image_5, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
  
  <table>
      <tr>
        <div class="cbox-photo-titles">
          <%= @location_2 %>
        </div>
      </tr>    
      <tr>
        <td valign=top width="260px">
          <div class="cbox-photobox">
           <%#<img src="IMG_5496_250_250.JPG" > needs to be in public folder %>
           <%= image_tag(@image_6, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="260px">
          <div class="cbox-photobox">
            <%= image_tag(@image_7, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="260px">
          <div class="cbox-photobox">
            <%= image_tag(@image_8, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
  
  <table>    
      <tr>
        <td valign=top width="390px">
          <div class="cbox-photobox">
            <%= image_tag(@image_9, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="390px">
          <div class="cbox-photobox">
            <%= image_tag(@image_10, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
  
  <table>
      <tr>
        <div class="cbox-photo-titles">
          <%= @location_3 %>
        </div>
      </tr>
      <tr>
        <td valign=top width="260px">
          <div class="cbox-photobox">
           <%#<img src="IMG_5496_250_250.JPG" > needs to be in public folder %>
           <%= image_tag(@image_11, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="260px">
          <div class="cbox-photobox">
            <%= image_tag(@image_12, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="260px">
          <div class="cbox-photobox">
            <%= image_tag(@image_13, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
  
  <table>    
      <tr>
        <td valign=top width="390px">
          <div class="cbox-photobox">
            <%= image_tag(@image_14, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="390px">
          <div class="cbox-photobox">
            <%= image_tag(@image_15, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
 
</div>