<%#
 June 2020    New page to display 15 photos specified in main_controller.rb
%>

<div class="cbox">
  <div class="cbox-title">
    <%= @title %>
  </div>
<div class="cbox-photo">
  <table width="780px" align="center">
      <tr>
        <td valign=top width="250px">
          <div class="cbox-photobox">
           <%#<img src="IMG_5496_250_250.JPG" > needs to be in public folder %>
           <%= image_tag(@image_1, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="250px">
          <div class="cbox-photobox">
            <%= image_tag(@image_2, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="250px">
          <div class="cbox-photobox">
            <%= image_tag(@image_3, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
  
  <table>    
      <tr>
        <td valign=top width="400px">
          <div class="cbox-photobox">
            <%= image_tag(@image_4, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="400px">
          <div class="cbox-photobox">
            <%= image_tag(@image_5, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
  
  <table>
      <tr>
        <td valign=top width="250px">
          <div class="cbox-photobox">
           <%#<img src="IMG_5496_250_250.JPG" > needs to be in public folder %>
           <%= image_tag(@image_6, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="250px">
          <div class="cbox-photobox">
            <%= image_tag(@image_7, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="250px">
          <div class="cbox-photobox">
            <%= image_tag(@image_8, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
  
  <table>    
      <tr>
        <td valign=top width="400px">
          <div class="cbox-photobox">
            <%= image_tag(@image_9, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="400px">
          <div class="cbox-photobox">
            <%= image_tag(@image_10, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
  
  <table>
      <tr>
        <td valign=top width="250px">
          <div class="cbox-photobox">
           <%#<img src="IMG_5496_250_250.JPG" > needs to be in public folder %>
           <%= image_tag(@image_11, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="250px">
          <div class="cbox-photobox">
            <%= image_tag(@image_12, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="250px">
          <div class="cbox-photobox">
            <%= image_tag(@image_13, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
  
  <table>    
      <tr>
        <td valign=top width="400px">
          <div class="cbox-photobox">
            <%= image_tag(@image_14, :width => "100%" ) %>
          </div>
        </td>
        <td valign=top width="400px">
          <div class="cbox-photobox">
            <%= image_tag(@image_15, :width => "100%" ) %>
          </div>
        </td>
      </tr>
  </table>
</div>