<div class="page-header">
 <h3>Events</h3>
</div>

<br />

<div class="table-responsive">
<table class="table table-bordered table-striped">
 <thead>
  <th>Title</th>
  <th>Start Date</th>
  <th>Attendees</th>
  <th></th>
 </thead>
<% @events.each do |event| %>
 <tr>
  <td><%= event.title %></td>
  <td><%= event.start_date.to_formatted_s(:long) %></td>
  <td><%= event.attendees.count %></td>
  <td><%= link_to "View", admin_event_path(event) %>
      <%= link_to "Edit", edit_admin_event_path(event) %>
      <%= link_to "Delete", admin_event_path(event), method: "delete", data: { confirm: "Delete #{event.title}?" } %></td>
 </tr>
<% end %>
</table>
</div>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>

<%= button_to 'New Event', new_admin_event_path, method: :get %>