<%
   @title = "Event Search"
   @title_link = search_event_events_path
%>

<%= bootstrap_form_tag url: search_event_events_path do |f| %>
  <div class="row">
   <div class="col-xs-1">Start: </div>
   <div class="col-xs-8">
    <%= f.date_select(:start_date, default: @start_date, hide_label: true, order: [:day, :month, :year] ) %>
   </div>
  </div>
  <div class="row">
   <div class="col-xs-1">End: </div>
   <div class="col-xs-8">
    <%= f.date_select(:end_date, default: @end_date, hide_label: true, order: [:day, :month, :year] ) %>
   </div>
  </div>
  <div class="row">
   <div class="col-xs-1">Title: </div>
   <div class="col-xs-6">
    <%= f.text_field(:search_title, value: @search_title, hide_label: true, id: 'search-title' ) %>
   </div>
   <div class="cos-xs-2"><%= f.submit "Search" %></div>
  </div>

  <br/>

  <div class="row">
   <div class="col-xs-9"><strong>Events: <%= @start_date.to_date.to_formatted_s(:long) %> to <%= @end_date.to_date.to_formatted_s(:long) %></strong></div>
   <div class="col-xs-3"><%= link_to "Download as PDF", URI.encode("#{search_event_events_path(format: :pdf)}?start_date=#{@start_date.to_date.to_s}&end_date=#{@end_date.to_date.to_s}&search_title=#{@search_title}"), { class: 'pull-right' } %></div>
  </div>

  <br />

  <% @events.each do |date, events| %>
  <div class="row">
   <div class="col-xs-12"><strong><%= date.strftime("#{date.day.ordinalize} %B %G") %></strong><br/><br/></div>
  </div>
  <div class="row">
   <div class="col-xs-12">
    <% events.each do |event| %>
     <% @event = event %>
     <div class="row">
      <div class="col-xs-12"><strong><%= @event.title %></strong></div>
     </div>
     <div class="row">
      <div class="col-xs-12"><br /></div>
     </div>
     <div class="row">
      <div class="col-xs-2">Time: </div>
      <div class="col-xs-10"> <%= @event.start_date.strftime("%H:%M") if @event.start_date %></div>
     </div>
     <div class="row">
      <div class="col-xs-2">Location:</div>
      <div class="col-xs-10"><%= simple_format(@event.where) %></div>
     </div>
     <div class="row">
      <div class="col-xs-2">Post code: </div>
      <div class="col-xs-10"> <%= @event.post_map_ref.try(:upcase) %></div>
     </div>
     <div class="row">
      <div class="col-xs-2">Book by date: </div>
      <div class="col-xs-10"> <%= @event.book_by_date.strftime("%A #{@event.book_by_date.day.ordinalize} %B %G") if @event.book_by_date %></div>
     </div>
     <% if @event.public_description.present? %>
     <br/>
     <div class="row">
      <div class="col-xs-12"><%= simple_format(@event.public_description) %></div>
     </div>
     <% end %>
     <br/>
     <div class="row">
      <div class="col-sm-12">
       <div class="col-sm-6 organiser-details">
        <div class="row">
         <div class="col-sm-12">Organiser:</div>
        </div>
        <div class="row">
         <div class="col-sm-12"><br /></div>
        </div>
        <div class="row">
        <div class="col-xs-2">Name:</div>
         <div class="col-sm-10"><%= @event.organiser.full_name if @event.organiser %></div>
        </div>
        <div class="row">
         <div class="col-xs-2">Email:</div>
         <div class="col-sm-10"><%= @event.organiser_email %></div>
        </div>
        <div class="row">
         <div class="col-xs-2">Phone:</div>
        <div class="col-sm-10"><%= @event.organiser_phone %></div>
       </div>
      </div>
      <% if @event.second_organiser %>
      <div class="col-sm-6 organiser-details">
       <div class="row">
        <div class="col-sm-12">Second Organiser:</div>
       </div>
       <div class="row">
        <div class="col-sm-12"><br /></div>
       </div>
       <div class="row">
        <div class="col-xs-2">Name:</div>
        <div class="col-sm-10"><%= @event.second_organiser.full_name %></div>
       </div>
       <div class="row">
        <div class="col-xs-2">Email:</div>
        <div class="col-sm-10"><%= @event.second_organiser_email %></div>
       </div>
       <div class="row">
        <div class="col-xs-2">Phone:</div>
        <div class="col-sm-10"><%= @event.second_organiser_phone %></div>
       </div>
      </div>
      <% end %>
     </div>
    </div>
    <br />
    <br />
    <% end %>
   </div>
  </div>
  <% end %>

<% end %>