<br/>
<h3><strong><%= @event.title %></strong></h3>
<br/>
<p><strong>Time:</strong> <%= @event.start_date.to_formatted_s(:time) %></p>
<p><strong>Location:</strong> <%= @event.where %></p>
<p><strong>Post code:</strong> <%= @event.post_map_ref %></p>
<p><strong>Prebook by:</strong> <%= @event.book_by_date.to_date.strftime("%A #{@event.book_by_date.day.ordinalize} %B %G") if @event.book_by_date %></p>
<% if @event.public_description.present? %>
<br/>
<p><%= CGI::unescapeHTML(strip_tags(simple_format(@event.public_description))) %></p>
<% end %>
<br/>
<table width="100%">
 <tr>
  <td>
   <p><%= @event.organiser&.full_name %></p>
   <p><%= @event.organiser_email %></p>
   <p><%= @event.organiser_phone %></p>
  </td>
  <% if @event.second_organiser %>
  <td>
    <p><%= @event.second_organiser&.full_name %></p>
    <p><%= @event.second_organiser_email %></p>
    <p><%= @event.second_organiser_phone %></p>
  </td>
  <% end %>
 </tr>
</table>
