<div class="row">
  <div class="col-sm-12"><%= f.text_field :title %></div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <%= f.datetime_select(:start_date, default: DateTime.now, order: [:day, :month, :year, :hour, :minute], label: 'Date' ) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12"><%= f.text_area :where, label: { text: "Location" } %></div>
</div>
<div class="row">
  <div class="col-sm-2"><%= f.text_field :post_map_ref, label: { text: "Post Code" } %></div>
</div>
<div class="row">
  <div class="col-sm-12"><%= f.text_area :public_description, label: { text: "Description" } %></div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-6 organiser-details">
      <div class="row">
        <div class="col-sm-12"><%= f.select :organiser_id, @organisers, { include_blank: true }, { class: 'select2' } %></div>
	  </div>
	  <div class="row">
	    <div class="col-sm-12"><%= f.text_field :organiser_email %></div>
	  </div>
	  <div class="row">
		<div class="col-sm-12"><%= f.text_field :organiser_phone %></div>
	  </div>
	</div>
	<div class="col-sm-6 organiser-details">
	  <div class="row">
		<div class="col-sm-12"><%= f.select :second_organiser_id, @organisers, { include_blank: true }, { class: 'select2', default: nil } %></div>
	  </div>
	  <div class="row">
		<div class="col-sm-12"><%= f.text_field :second_organiser_email %></div>
	  </div>
	  <div class="row">
		<div class="col-sm-12"><%= f.text_field :second_organiser_phone %></div>
	  </div>
	</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
     <%= f.date_select(:book_by_date, include_blank: true, default: nil, order: [:day, :month, :year] ) %>
  </div>
  <div class="col-sm-7 pull-left">
     <%= content_tag(:a, 'Clear', class: 'clear-date') %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12"><%= f.label :featured_event, 'Featured event', class: 'checkbox inline' %>
   <%= f.radio_button :featured_event, true, label: "True", inline: true %>
   <%= f.radio_button :featured_event, false, label: "False", inline: true %>
  </div>
 </div>