<div class="row">
  <div class="col-sm-12"><%= f.text_field :title %></div>
</div>
<div class="row">
  <div class="col-sm-12"><label class="control-label">Start date</label></div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <div class='input-group date datetimepicker'>
        <%= f.date_field(:start_date, default: DateTime.now, hide_label: true ) %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12"><%= f.text_area :where, label: { text: "Location" } %></div>
</div>
<div class="row">
  <div class="col-sm-2"><%= f.text_field :post_map_ref, label: { text: "Post Code" } %></div>
</div>
<div class="row">
  <div class="col-sm-12"><%= f.text_area :public_description, label: { text: "Description" } %></div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-6 organiser-details">
      <div class="row">
        <div class="col-sm-12"><%= f.select :organiser_id, @organisers, { include_blank: true }, { class: 'select2' } %></div>
	  </div>
	  <div class="row">
	    <div class="col-sm-12"><%= f.text_field :organiser_email %></div>
	  </div>
	  <div class="row">
		<div class="col-sm-12"><%= f.text_field :organiser_phone %></div>
	  </div>
	</div>
	<div class="col-sm-6 organiser-details">
	  <div class="row">
		<div class="col-sm-12"><%= f.select :second_organiser_id, @organisers, { include_blank: true }, { class: 'select2', default: nil } %></div>
	  </div>
	  <div class="row">
		<div class="col-sm-12"><%= f.text_field :second_organiser_email %></div>
	  </div>
	  <div class="row">
		<div class="col-sm-12"><%= f.text_field :second_organiser_phone %></div>
	  </div>
	</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12"><label class="control-label">Book by date</label></div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <div class='input-group date datepicker'>
        <%= f.date_field(:book_by_date, default: DateTime.now, hide_label: true ) %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12"><%= f.form_group :featured_event, label: { text: "Featured event" } do %>
  <%= f.radio_button :featured_event, true, label: "True", inline: true %>
  <%= f.radio_button :featured_event, false, label: "False", inline: true %>
 <% end %></div>
 </div>