<% @admin_title = "Users" %>

<div class="table-responsive">
<table class="table table-bordered table-striped">
 <thead>
  <th>First Name</th>
  <th>Surname</th>
  <th>Email</th>
  <th>Admin</th>
  <th></th>
 </thead>
 <tbody>
<% @users.each do |user| %>
 <tr>
  <td><%= user.first_name %></td>
  <td><%= user.surname %></td>
  <td><%= user.email %></td>
  <td><%= user.admin? ? 'Y' : 'N' %></td>
  <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
 </tr>
<% end %>
</tbody>
</table>
</div>

<div class="pull-right">
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

<%= button_to "New User", new_admin_user_path, method: :get %>