<!DOCTYPE html>
<html>
<head>
  <title>Ivc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'ivc', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'calendar', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div align="center" >
    <div class="wrapper">
      <div id="header">
        <table width="1000px" border=0 cellpadding=2 cellspacing=0 bordercolor="#6232A9" background="<%= image_path('header_bgd_dark_red.png') %>">
          <tr>
            <td valign=left width="800px">
                <img src="<%= image_path('ivc_header_all_flattened.png') %>" width="870px" height="110px">
            </td>
            <td align=right valign=middle>
                 <a href="http://www.ivc.org.uk"><img src="<%= image_path('ivc_logo_bgd_www.png') %>" border=0 alt="Association of Intervarsity Clubs"></a>
            </td>
          </tr>
          <tr>
            <td colspan=3 height=5 bgcolor="#53158D">
            </td>
          </tr>
        </table>
      </div>
  
      <div id="main">
        <table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td valign=top>
              <div class="mbox">
                <div class="mbox-title">
                  The Club
                </div>
                <div class="mbox-data" >
                  <%= link_to "Introduction", introduction_path, { class: "linkmenu" } %><br>
                </div>
                <div class="mbox-data">
                  <%= link_to "Events & Activities", events_and_activities_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Calendar", calendar_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Membership", membership_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Contacts", contacts_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Area Covered", areas_covered_path, { class: "linkmenu" } %>
                </div>
              </div>
          
              <div class="mbox">
                <div class="mbox-title">
                  Photo Gallery
                </div>
                <div class="mbox-data">
                  <%= link_to "Evening Events", evening_events_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Walks", walks_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Days Out", days_out_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Houses & Gardens", houses_gardens_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Weekends Away", weekends_away_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Seaside Breaks", seaside_breaks_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Activities", activities_path, { class: "linkmenu" } %>
                </div>
                <div class="mbox-data">
                  <%= link_to "Trips Abroad", trips_abroad_path, { class: "linkmenu" } %>
                </div>

              </div>
            </td>

