<header class="navbar navbar-fixed-top">
 <div class="navbar-inner">
  <div class="container">
   <nav>
    <ul class="nav pull-right">
     <li><%= link_to "Home", calendar_path %></li>
     <% if current_user_session %>
     <li><%= link_to "My Account", my_account_root_path %></li>
     <li><%= link_to "Create Event", new_event_path %></li>
     <li><%= link_to "Admin", admin_root_path if current_user.admin? %></li>
     <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
     <% else %>
     <li><%= link_to "Sign up", new_user_path %></li>
     <li><%= link_to "Sign in", signin_path %></li>
     <% end %>
    </ul>
   </nav>
  </div>
 </div>
</header>