<%= render 'layouts/header' %>

<td valign=top width="790px">
  <div class="cbox">
    <%= render 'layouts/calendar_header' %>
    <div class="container" style="width: 100%; white-space: wrap">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield :form_errors %>
      <%= yield %>
    </div>
</div>

<%= render 'layouts/footer' %>