<!DOCTYPE html>
<html>
<head>
  <title>Ivc My Account</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <li><%= link_to "Home", calendar_path %></li>
  <li><%= link_to "My Profile", my_account_user_path(current_user) %></li>
  <li><%= link_to "My Events", my_account_events_path %></li>
  <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
  <br />
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
